# Money

In [13]:
import MySQLdb,io

cnx = MySQLdb.connect("localhost","root","123456","news.db",charset="utf8")
cursor = cnx.cursor()


fin=open('E:/mysql/news/newNews/MoneyDJ_2015.txt')
lines=fin.readlines()

for i in range(0,len(lines)-1):#len(lines)
    datain = lines[i].split(',')
    #print type(datain[0])
    add_record="INSERT INTO moneydj_2015 \
                (ID,Title,Date,Time,Viewer,Web,Content) \
                VALUES (%s, %s, %s, %s, %s, %s, %s)"
    if len(datain) < 7:
        cursor.execute(add_record,(datain[0],datain[1],datain[2],datain[3],datain[4],datain[5],"Null"))
    else:
        cursor.execute(add_record,(datain[0],datain[1],datain[2],datain[3],datain[4],datain[5],datain[6]))
    #print datain[6]

#
cnx.commit()
cursor.close()
cnx.close()

In [66]:
cursor.close()
cnx.close()

In [5]:
import MySQLdb,io

cnx = MySQLdb.connect("localhost","root","123456","prepare_db",charset="utf8")
cursor = cnx.cursor()


fin=open('E:\\mysql\\money20142.txt')
lines=fin.readlines()

for i in range(0,len(lines)-1):#len(lines)
    datain = lines[i].split('\t')
    #print type(datain[0])
    add_record="UPDATE moneydj_2014 SET ID = (%s) "
    cursor.execute(add_record,(datain[0]))
    #print datain[6]

#
cnx.commit()
cursor.close()
cnx.close()

KeyboardInterrupt:

In [8]:
import requests

# Other

In [69]:
import MySQLdb,io

#資料庫IP,ID,pass,schema名稱,預設編碼
cnx = MySQLdb.connect("localhost","root","123456","news.db",charset="utf8")
cursor = cnx.cursor()


fin=open('E:/mysql/news/newNews/OtherNews_20152.txt')
lines=fin.readlines()

for i in range(0,len(lines)-1):#len(lines)
                    #分隔符號
    datain = lines[i].split(',')
    #print type(datain[0])
                            #資料表名稱
    add_record="INSERT INTO othernews_2015 \
                (ID,Date,Time,Title,Source,Web,Content) \
                VALUES (%s, %s, %s, %s, %s, %s, %s)"
    if len(datain) < 7:
        cursor.execute(add_record,(datain[0],datain[1],datain[2],datain[3],datain[4],datain[5],"Null"))  
    else:
        cursor.execute(add_record,(datain[0],datain[1],datain[2],datain[3],datain[4],datain[5],datain[6]))
    #print datain[0]

#
cnx.commit()
cursor.close()
cnx.close()

In [20]:
cursor.close()
cnx.close()

ProgrammingError: closing a closed connection

# C聚亨

In [55]:
import MySQLdb,io,sys,codecs

#資料庫IP,ID,pass,schema名稱,預設編碼
cnx = MySQLdb.connect("localhost","root","123456","news.db",charset="utf8")
cursor = cnx.cursor()
BOM = codecs.BOM_UTF8.decode('utf8')

with io.open("E:/mysql/news/newNews/cnYES_20153.txt", 'r', encoding='utf-8') as f: #做字典的檔案
    for lines in f: #一行為單位
        lines = lines.lstrip(BOM)
                    #分隔符號
        datain = lines.split('\t')
        #print type(datain[0])
                                #資料表名稱
        add_record="INSERT INTO cnyes_2015 \
                    (ID,Classifer,Tag,Title,Date,Web,Source,Content) \
                    VALUES (%s, %s, %s, %s, %s, %s,%s,%s)"
        try:
            if len(datain) < 8:
                cursor.execute(add_record,(datain[0],datain[1],datain[2],datain[3],datain[4],datain[5],datain[6],"Null"))
            else:
                cursor.execute(add_record,(datain[0],datain[1],datain[2],datain[3],datain[4],datain[5],datain[6],datain[7]))
        except:
            a,b,c = sys.exc_info()
            print a,b,c
            print datain[0]
            cursor.close()
            cnx.close()


#
cnx.commit()
cursor.close()
cnx.close()

In [41]:
print '\xF0\xA5\x9A\x83\xE9\xAC'

𥚃�

# II 證卷代號表

In [6]:
import MySQLdb,io,sys,codecs


#資料庫IP,ID,pass,schema名稱,預設編碼
cnx = MySQLdb.connect("localhost","root","123456","industry_db",charset="utf8")
cursor = cnx.cursor()
BOM = codecs.BOM_UTF8.decode('utf8')

with io.open('E:\\mysql\\Industry\\stock_id.txt', 'r', encoding='utf-8') as f: #做字典的檔案
    for lines in f: #一行為單位
        lines = lines.lstrip(BOM) #處理編碼問題

        datain = lines.split('\t')
        #print type(datain[0])
                                #資料表名稱
        add_record="INSERT INTO 證卷代號表 \
                    (代號,簡稱,公司全名) \
                    VALUES (%s, %s, %s)"

        #print datain[0].split()
        try:
            cursor.execute(add_record,(datain[0],datain[1],datain[2]))
        except:
            a,b,c = sys.exc_info()
            print a,b,c
            print datain[0]
            cursor.close()
            cnx.close()


#
cnx.commit()
cursor.close()
cnx.close()

# 上市公司聯絡表

In [102]:
import MySQLdb,io,sys

#資料庫IP,ID,pass,schema名稱,預設編碼
cnx = MySQLdb.connect("localhost","root","123456","industry.db",charset="utf8")
cursor = cnx.cursor()


with io.open('E:\\mysql\\Industry\\listed_company_contant_chart.txt', 'r', encoding='utf-8') as f: #做字典的檔案
    for lines in f: #一行為單位
        lines = lines.lstrip(BOM) #處理編碼問題

        datain = lines.split('\t')
        #print type(datain[0])
                                #資料表名稱
        add_record="INSERT INTO listed_company_contant_chart \
                    (code,company,industry,ceo,coo,talkman,phone,address,Main_product,web) \
                    VALUES (%s, %s, %s, %s,%s, %s, %s, %s,%s,%s)"

        #print datain[0].split()
        try:
            cursor.execute(add_record,(datain[0],datain[1],datain[2],datain[3],datain[4],datain[5],datain[6],datain[7]
                                      ,datain[8],datain[9]))
        except:
            a,b,c = sys.exc_info()
            print a,b,c
            print datain[0]
            cursor.close()
            cnx.close()


#
cnx.commit()
cursor.close()
cnx.close()

# 上市公司基本資訊

In [104]:
import MySQLdb,io,sys

#資料庫IP,ID,pass,schema名稱,預設編碼
cnx = MySQLdb.connect("localhost","root","123456","industry.db",charset="utf8")
cursor = cnx.cursor()


with io.open('E:\\mysql\\Industry\\company_information.txt', 'r', encoding='utf-8') as f: #做字典的檔案
    for lines in f: #一行為單位
        lines = lines.lstrip(BOM) #處理編碼問題

        datain = lines.split('\t')
        #print type(datain[0])
                                #資料表名稱
        add_record="INSERT INTO company_information \
                    (Stock_code,stock,industry,capatial,date,count) \
                    VALUES (%s, %s, %s, %s, %s, %s)"

        #print datain[0].split()
        try:
            cursor.execute(add_record,(datain[0],datain[1],datain[2],datain[3],datain[4],datain[5]))
        except:
            a,b,c = sys.exc_info()
            print a,b,c
            print datain[0]
            cursor.close()
            cnx.close()


#
cnx.commit()
cursor.close()
cnx.close()

# 產業供應鏈分析表

In [17]:
import MySQLdb,io,sys

#資料庫IP,ID,pass,schema名稱,預設編碼
cnx = MySQLdb.connect("localhost","root","123456","industry_db",charset="utf8")
cursor = cnx.cursor()


with io.open('E:\\mysql\\Industry\\chain_id.txt', 'r', encoding='utf-8') as f: #做字典的檔案
    for lines in f: #一行為單位
        lines = lines.lstrip(BOM) #處理編碼問題

        datain = lines.split('\t')
        #print type(datain[0])
                                #資料表名稱
        add_record="INSERT INTO 產業供應鏈分析表 \
                    (證卷代號,產業類別,主要產品,位置) \
                    VALUES (%s, %s, %s, %s)"

        #print datain[0].split()
        try:
            cursor.execute(add_record,(datain[0],datain[1],datain[2],datain[3]))
        except:
            a,b,c = sys.exc_info()
            print a,b,c
            print datain[0]
            cursor.close()
            cnx.close()


#
cnx.commit()
cursor.close()
cnx.close()

# 供應鏈產業別

In [105]:
import MySQLdb,io,sys

#資料庫IP,ID,pass,schema名稱,預設編碼
cnx = MySQLdb.connect("localhost","root","123456","industry.db",charset="utf8")
cursor = cnx.cursor()


with io.open('E:\\mysql\\Industry\\supply_chain.txt', 'r', encoding='utf-8') as f: #做字典的檔案
    for lines in f: #一行為單位
        lines = lines.lstrip(BOM) #處理編碼問題

        datain = lines.split('\t')
        #print type(datain[0])
                                #資料表名稱
        add_record="INSERT INTO supply_chain \
                    (Supply_Chain,SC_ID) \
                    VALUES (%s, %s)"

        #print datain[0].split()
        try:
            cursor.execute(add_record,(datain[0],datain[1]))
        except:
            a,b,c = sys.exc_info()
            print a,b,c
            print datain[0]
            cursor.close()
            cnx.close()


#
cnx.commit()
cursor.close()
cnx.close()

In [ ]:
import MySQLdb,io,sys

#資料庫IP,ID,pass,schema名稱,預設編碼
cnx = MySQLdb.connect("localhost","root","123456","industry_db",charset="utf8")
cursor = cnx.cursor()


with io.open('E:\\mysql\\Industry\\chain.txt', 'r', encoding='utf-8') as f: #做字典的檔案
    for lines in f: #一行為單位
        lines = lines.lstrip(BOM) #處理編碼問題

        datain = lines.split('\t')
        #print type(datain[0])
                                #資料表名稱
        add_record="INSERT INTO 供應鏈產業別 \
                    (SC_ID,產業鏈別) \
                    VALUES (%s, %s)"

        #print datain[0].split()
        try:
            cursor.execute(add_record,(datain[0],datain[1]))
        except:
            a,b,c = sys.exc_info()
            print a,b,c
            print datain[0]
            cursor.close()
            cnx.close()


#
cnx.commit()
cursor.close()
cnx.close()

# 產品編碼對照表

In [106]:
import MySQLdb,io,sys,codecs


#資料庫IP,ID,pass,schema名稱,預設編碼
cnx = MySQLdb.connect("localhost","root","123456","industry.db",charset="utf8")
cursor = cnx.cursor()
BOM = codecs.BOM_UTF8.decode('utf8')

with io.open('E:\\mysql\\Industry\\product_code.txt', 'r', encoding='utf-8') as f: #做字典的檔案
    for lines in f: #一行為單位
        lines = lines.lstrip(BOM) #處理編碼問題

        datain = lines.split('\t')
        #print type(datain[0])
                                #資料表名稱
        add_record="INSERT INTO product_code \
                    (product,SCD) \
                    VALUES (%s, %s)"

        #print datain[0].split()
        try:
            cursor.execute(add_record,(datain[0],datain[1]))
        except:
            a,b,c = sys.exc_info()
            print a,b,c
            print datain[0]
            cursor.close()
            cnx.close()


#
cnx.commit()
cursor.close()
cnx.close()

# 產業鏈位置對照表

In [27]:
import MySQLdb,io,sys,codecs


#資料庫IP,ID,pass,schema名稱,預設編碼
cnx = MySQLdb.connect("localhost","root","123456","industry_db",charset="utf8")
cursor = cnx.cursor()
BOM = codecs.BOM_UTF8.decode('utf8')

with io.open('E:\\mysql\\Industry\\p_code.txt', 'r', encoding='utf-8') as f: #做字典的檔案
    for lines in f: #一行為單位
        lines = lines.lstrip(BOM) #處理編碼問題

        datain = lines.split('\t')
        #print type(datain[0])
                                #資料表名稱
        add_record="INSERT INTO 產業鏈位置對照表 \
                    (ID,位置) \
                    VALUES (%s, %s)"

        #print datain[0].split()
        try:
            cursor.execute(add_record,(datain[0],datain[1]))
        except:
            a,b,c = sys.exc_info()
            print a,b,c
            print datain[0]
            cursor.close()
            cnx.close()


#
cnx.commit()
cursor.close()
cnx.close()

# 產業別

In [98]:
import MySQLdb,io,sys,codecs


#資料庫IP,ID,pass,schema名稱,預設編碼
cnx = MySQLdb.connect("localhost","root","123456","industry.db",charset="utf8")
cursor = cnx.cursor()
BOM = codecs.BOM_UTF8.decode('utf8')

with io.open('E:\\mysql\\Industry\\industry.txt', 'r', encoding='utf-8') as f: #做字典的檔案
    for lines in f: #一行為單位
        lines = lines.lstrip(BOM) #處理編碼問題

        datain = lines.split('\t')
        #print type(datain[0])
                                #資料表名稱
        add_record="INSERT INTO industry \
                    (Industry_id,Industry) \
                    VALUES (%s, %s)"

        #print datain[0].split()
        try:
            cursor.execute(add_record,(datain[0],datain[1]))
        except:
            a,b,c = sys.exc_info()
            print a,b,c
            print datain[0]
            cursor.close()
            cnx.close()


#
cnx.commit()
cursor.close()
cnx.close()

# 類股指數列表

In [31]:
import MySQLdb,io,sys,codecs


#資料庫IP,ID,pass,schema名稱,預設編碼
cnx = MySQLdb.connect("localhost","root","123456","industry_db",charset="utf8")
cursor = cnx.cursor()
BOM = codecs.BOM_UTF8.decode('utf8')

with io.open('E:\\mysql\\Industry\\class_list.txt', 'r', encoding='utf-8') as f: #做字典的檔案
    for lines in f: #一行為單位
        lines = lines.lstrip(BOM) #處理編碼問題

        datain = lines.split('\t')
        #print type(datain[0])
                                #資料表名稱
        add_record="INSERT INTO 類股指數列表 \
                    (Industry_id,IndustryIndex,Count) \
                    VALUES (%s, %s, %s)"

        #print datain[0].split()
        try:
            cursor.execute(add_record,(datain[0],datain[1],datain[2]))
        except:
            a,b,c = sys.exc_info()
            print a,b,c
            print datain[0]
            cursor.close()
            cnx.close()


#
cnx.commit()
cursor.close()
cnx.close()

# STOCK CODE

In [97]:
import MySQLdb,io,sys,codecs


#資料庫IP,ID,pass,schema名稱,預設編碼
cnx = MySQLdb.connect("localhost","root","123456","industry.db",charset="utf8")
cursor = cnx.cursor()
BOM = codecs.BOM_UTF8.decode('utf8')

with io.open('E:\\mysql\\Industry\\stock_code.txt', 'r', encoding='utf-8') as f: #做字典的檔案
    for lines in f: #一行為單位
        lines = lines.lstrip(BOM) #處理編碼問題

        datain = lines.split('\t')
        #print type(datain[0])
                                #資料表名稱
        add_record="INSERT INTO stock_code \
                    (Stock_code,Stock,Company) \
                    VALUES (%s, %s, %s)"

        #print datain[0].split()
        try:
            cursor.execute(add_record,(datain[0],datain[1],datain[2]))
        except:
            a,b,c = sys.exc_info()
            print a,b,c
            print datain[0]
            cursor.close()
            cnx.close()


#
cnx.commit()
cursor.close()
cnx.close()

# 漲幅 洪

In [93]:
import MySQLdb,io,sys,codecs


#資料庫IP,ID,pass,schema名稱,預設編碼
cnx = MySQLdb.connect("localhost","root","123456","stock.db",charset="utf8")
cursor = cnx.cursor()
BOM = codecs.BOM_UTF8.decode('utf8')

with io.open('E:\\mysql\\update\\stockRed2.txt', 'r', encoding='utf-8') as f: #做字典的檔案
    for lines in f: #一行為單位
        lines = lines.lstrip(BOM) #處理編碼問題

        datain = lines.split('\t')
        #print type(datain[0])
                                #資料表名稱
        add_record="INSERT INTO market_extends_win_streak (DATE,TAIEX,Increase) VALUES (%s, %s, %s)"
        #print datain[0].split()
        try:
            #print "".join(datain[0].split())
            cursor.execute(add_record,("".join(datain[0].split()),datain[1],"".join(datain[2].split())))
        except:
            a,b,c = sys.exc_info()
            print a,b,c
            print datain[0]
            cursor.close()
            cnx.close()


#
cnx.commit()
cursor.close()
cnx.close()

2014/1/15
2014/2/7
2014/2/12
2014/2/21
2014/3/5
2014/3/6
2014/3/13
2014/3/25
2014/3/31
2014/4/15
2014/4/29
2014/5/2
2014/5/14
2014/5/28
2014/6/10
2014/6/26
2014/6/30
2014/7/10
2014/7/22
2014/7/30
2014/8/4
2014/8/11
2014/8/13
2014/8/27
2014/9/1
2014/9/3
2014/9/17
2014/10/14
2014/10/22
2014/10/31
2014/11/13
2014/12/18
2014/12/22
2014/12/24
2014/12/26
2014/12/29
2015/1/13
2015/1/20
2015/1/21
2015/2/3
2015/2/4
2015/2/11
2015/2/24
2015/2/25
2015/3/6
2015/3/12
2015/3/19
2015/3/31
2015/4/2
2015/4/22
2015/4/27
2015/5/22
2014/1/2
2014/1/7
2014/1/8
2014/1/10
2014/1/13
2014/1/16
2014/1/20
2014/1/22
2014/1/24
2014/2/6
2014/2/10
2014/2/11
2014/2/14
2014/2/17
2014/2/18
2014/2/19
2014/2/25
2014/2/26
2014/2/27
2014/3/7
2014/3/11
2014/3/17
2014/3/18
2014/3/24
2014/3/26
2014/3/27
2014/4/1
2014/4/2
2014/4/8
2014/4/9
2014/4/10
2014/4/16
2014/4/17
2014/4/18
2014/4/22
2014/4/28
2014/5/5
2014/5/6
2014/5/8
2014/5/13
2014/5/15
2014/5/16
2014/5/19
2014/5/23
2014/5/26
2014/5/27
2014/6/3
2014/6/5
2014/6/9
2014/6/11
2014/6/16
2014/6/17
2014/6/18
2014/6/19
2014/6/24
2014/7/1
2014/7/2
2014/7/3
2014/7/7
2014/7/8
2014/7/14
2014/7/15
2014/7/21
2014/7/24
2014/8/6
2014/8/20
2014/8/25
2014/8/26
2014/9/9
2014/9/18
2014/9/19
2014/9/24
2014/9/30
2014/10/1
2014/10/9
2014/11/3
2014/11/7
2014/11/14
2014/11/21
2014/11/24
2014/11/26
2014/11/27
2014/11/28
2014/12/4
2014/12/12
2014/12/23
2014/12/27
2014/12/31
2015/1/7
2015/1/19
2015/1/22
2015/1/26
2015/1/27
2015/2/2
2015/2/12
2015/2/13
2015/3/3
2015/3/4
2015/3/17
2015/3/20
2015/3/23
2015/3/30
2015/4/7
2015/4/10
2015/4/13
2015/5/4
2015/5/12
2015/5/13
2015/5/18
2014/5/22
2014/8/19
2014/8/22
2014/10/3
2014/10/20
2014/10/28
2014/10/29
2014/11/10
2014/11/19
2014/11/20
2014/12/3
2014/12/19
2015/1/8
2015/1/23
2015/3/18
2015/4/16
2015/4/23
2015/4/24
2015/5/19

# 漲幅 黑

In [95]:
import MySQLdb,io,sys,codecs


#資料庫IP,ID,pass,schema名稱,預設編碼
cnx = MySQLdb.connect("localhost","root","123456","stock.db",charset="utf8")
cursor = cnx.cursor()
BOM = codecs.BOM_UTF8.decode('utf8')

with io.open('E:\\mysql\\update\\stockBlack2.txt', 'r', encoding='utf-8') as f: #做字典的檔案
    for lines in f: #一行為單位
        lines = lines.lstrip(BOM) #處理編碼問題

        datain = lines.split('\t')
        #print type(datain[0])
                                #資料表名稱
        add_record="INSERT INTO market_extends_loss_streak (DATE,TAIEX,Increase) VALUES (%s, %s, %s)"
        #print datain[0].split()
        try:
            #print "".join(datain[0].split())
            cursor.execute(add_record,("".join(datain[0].split()),datain[1],"".join(datain[2].split())))
        except:
            a,b,c = sys.exc_info()
            print a,b,c
            print datain[0]
            cursor.close()
            cnx.close()


#
cnx.commit()
cursor.close()
cnx.close()

In [81]:
add_record="INSERT INTO market_index_industry \
                    (ID,年度,日期,指數名稱,收盤指數,漲跌,漲跌點數,漲跌百分比) \
                    VALUES (%s, %s, %s, %s, %s, %s, %s, %s)"
print add_record

INSERT INTO market_index_industry                     (ID,年度,日期,指數名稱,收盤指數,漲跌,漲跌點數,漲跌百分比)                     VALUES (%s, %s, %s, %s, %s, %s, %s, %s)

# 大盤資訊

In [1]:
import MySQLdb,io,sys,codecs

#資料庫IP,ID,pass,schema名稱,預設編碼
cnx = MySQLdb.connect("localhost","root","123456","stock.db",charset="utf8")
cursor = cnx.cursor()

i = 1
BOM = codecs.BOM_UTF8.decode('utf8')

with io.open("E:\\mysql\\Market_index.txt", 'r', encoding='utf-8') as f: #做字典的檔案
    for lines in f: #一行為單位
        lines = lines.lstrip(BOM) #處理編碼問題
        
        datain = lines.split('\t')
        #print type(datain[0])
                                #資料表名稱
        add_record="INSERT INTO market_index_industry \
                    (ID,年度,日期,指數名稱,收盤指數,漲跌,漲跌點數,漲跌百分比) \
                    VALUES (%s, %s, %s, %s, %s, %s, %s, %s)"
        try:
            cursor.execute(add_record,(i,datain[0],datain[1],datain[2],datain[3],datain[4],datain[5],datain[6]))
        except:
            a,b,c = sys.exc_info()
            print a,b,c
            print lines.split()[0]
            cursor.close()
            cnx.close()
        i +=1
#
cnx.commit()
cursor.close()
cnx.close()

# 個股歷史成交資訊

In [3]:
import MySQLdb,io,sys,codecs

#資料庫IP,ID,pass,schema名稱,預設編碼
cnx = MySQLdb.connect("localhost","root","123456","stock.db",charset="utf8")
cursor = cnx.cursor()

i = 1
BOM = codecs.BOM_UTF8.decode('utf8')

with io.open("E:\\mysql\\stock_history.txt", 'r', encoding='utf-8') as f: #做字典的檔案
    for lines in f: #一行為單位
        lines = lines.lstrip(BOM) #處理編碼問題
        
        datain = lines.split('\t')
        #print datain[0],datain[1],datain[2],datain[3],datain[4],datain[5],datain[6],datain[7],datain[8],datain[9],datain[10]
        #交易日期、成交股數、成交金額、開盤價、最高價、最低價、收盤價、漲跌價差、成交筆數
                                #資料表名稱
        add_record="INSERT INTO stock_history \
                    (證券代號,證券名稱,日期,成交股數,成交金額,開盤價,最高價,最低價,收盤價,\
                    漲跌價差,成交筆數) \
                    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
        try:
            cursor.execute(add_record,(datain[0],datain[1],datain[2],datain[3],datain[4],datain[5],\
                                       datain[6],datain[7],datain[8],datain[9],datain[10]))
        except:
            a,b,c = sys.exc_info()
            print a,b,c
            print lines.split()[0]
            cursor.close()
            cnx.close()
        i +=1
#
cnx.commit()
cursor.close()
cnx.close()

# 類股資訊

In [3]:
import MySQLdb,io,sys,codecs

#資料庫IP,ID,pass,schema名稱,預設編碼
cnx = MySQLdb.connect("localhost","root","123456","stock.db",charset="utf8")
cursor = cnx.cursor()

i = 1
BOM = codecs.BOM_UTF8.decode('utf8')

with io.open("E:\\mysql\\loveStock.txt", 'r', encoding='utf-8') as f: #做字典的檔案
    for lines in f: #一行為單位
        lines = lines.lstrip(BOM) #處理編碼問題
        
        datain = lines.split('\t')
        #print type(datain[0])
                                #資料表名稱
        add_record="INSERT INTO stocks_index_industry \
                    (ID,年度,日期,指數名稱,成交股數,成交金額,成交筆數,漲跌指數) \
                    VALUES (%s, %s, %s, %s, %s, %s, %s, %s)"
        try:
            cursor.execute(add_record,(datain[0],datain[1],datain[2],datain[3],datain[4],datain[5],datain[6],datain[7]))
        except:
            a,b,c = sys.exc_info()
            print a,b,c
            print lines.split()[0]
            cursor.close()
            cnx.close()
        i +=1
#
cnx.commit()
cursor.close()
cnx.close()

# 每日成交資訊

In [4]:
import MySQLdb,io,sys,codecs

#資料庫IP,ID,pass,schema名稱,預設編碼
cnx = MySQLdb.connect("localhost","root","123456","stock.db",charset="utf8")
cursor = cnx.cursor()

i = 1
BOM = codecs.BOM_UTF8.decode('utf8')

with io.open("E:\\mysql\\day_stock.txt", 'r', encoding='utf-8') as f: #做字典的檔案
    for lines in f: #一行為單位
        lines = lines.lstrip(BOM) #處理編碼問題
        
        datain = lines.split('\t')
        #print datain[0],datain[1],datain[2],datain[3],datain[4],datain[5],datain[6],datain[7],datain[8],datain[9],datain[10]
                                #資料表名稱
        add_record="INSERT INTO day_stock \
                    (ID,日期,成交股數,成交金額,成交筆數,發行量加權股價指數,漲跌點數) \
                    VALUES (%s, %s, %s, %s, %s, %s, %s)"
        try:
            cursor.execute(add_record,(i,datain[0],datain[1],datain[2],datain[3],datain[4],datain[5]))
        except:
            a,b,c = sys.exc_info()
            print a,b,c
            print lines.split()[0]
            cursor.close()
            cnx.close()
        i +=1
#
cnx.commit()
cursor.close()
cnx.close()

# 新聞總表

In [44]:
import MySQLdb,io,sys,codecs

#資料庫IP,ID,pass,schema名稱,預設編碼
cnx = MySQLdb.connect("localhost","root","123456","prepare_db",charset="utf8")
cursor = cnx.cursor()

BOM = codecs.BOM_UTF8.decode('utf8')

with io.open("E:\\mysql\\news2015.txt", 'r', encoding='utf-8') as f: #做字典的檔案
    for lines in f: #一行為單位
        lines = lines.lstrip(BOM) #處理編碼問題
        
        datain = lines.split('\t')
        #print datain[0],datain[1],datain[2],datain[3],datain[4],datain[5],datain[6],datain[7],datain[8],datain[9],datain[10]
                                #資料表名稱
        add_record="INSERT INTO 新聞列表_2015 \
                    (ID,日期,標題,內文) \
                    VALUES (%s, %s, %s, %s)"
        try:
            if len(datain) < 4:
                cursor.execute(add_record,(datain[0],datain[1],datain[2],"Null"))
            else:
                cursor.execute(add_record,(datain[0],datain[1],datain[2],datain[3]))
        except:
            a,b,c = sys.exc_info()
            print a,c
            print lines.split()[0]
            cursor.close()
            cnx.close()
#
cnx.commit()
cursor.close()
cnx.close()

#嗯嗯嗯嗯嗯

In [6]:
with io.open("E:\\mysql\\loveMarket2.txt", 'r', encoding='utf-8') as f: #做字典的檔案
    for lines in f: #一行為單位
        lines = lines.lstrip(BOM) #處理編碼問題

IOError: [Errno 2] No such file or directory: 'E:\\mysql\\loveMarket2.txt'

In [1]:
import MySQLdb,io

NameError: name 'cursor' is not defined

In [89]:
p = '\x1a'
print p



# 分析表

In [108]:
import MySQLdb,io,sys,codecs

#資料庫IP,ID,pass,schema名稱,預設編碼
cnx = MySQLdb.connect("localhost","root","123456","analysis.db",charset="utf8")
cursor = cnx.cursor()

i = 1
BOM = codecs.BOM_UTF8.decode('utf8')

with io.open("E:\\mysql\\M_SmillarNewVersion1.txt", 'r', encoding='utf-8') as f: #做字典的檔案
    for lines in f: #一行為單位
        lines = lines.lstrip(BOM) #處理編碼問題
        
        datain = lines.split(',')
        #print datain[0],datain[1],datain[2],datain[3],datain[4],datain[5],datain[6],datain[7],datain[8],datain[9],datain[10]
                                #資料表名稱
        add_record="INSERT INTO classifer \
                    (old_Artical,new_Artical,count) \
                    VALUES (%s, %s, %s)"
        try:
            cursor.execute(add_record,(datain[0],datain[1],datain[2]))
        except:
            a,b,c = sys.exc_info()
            print a,b,c
            print lines.split()[0]
            cursor.close()
            cnx.close()
        i +=1
#
cnx.commit()
cursor.close()
cnx.close()

In [110]:
import MySQLdb,io,sys,codecs

#資料庫IP,ID,pass,schema名稱,預設編碼
cnx = MySQLdb.connect("localhost","root","123456","analysis.db",charset="utf8")
cursor = cnx.cursor()

i = 1
BOM = codecs.BOM_UTF8.decode('utf8')

with io.open("E:\\mysql\\M201505similiarArticlegradeNewVersion1.txt", 'r', encoding='utf-8') as f: #做字典的檔案
    for lines in f: #一行為單位
        lines = lines.lstrip(BOM) #處理編碼問題
        
        datain = lines.split(',')
        #print datain[0],datain[1],datain[2],datain[3],datain[4],datain[5],datain[6],datain[7],datain[8],datain[9],datain[10]
                                #資料表名稱
        add_record="INSERT INTO simllar \
                    (old_Artical,old_count,new_Artical,new_count) \
                    VALUES (%s, %s, %s, %s)"
        try:
            cursor.execute(add_record,(datain[0],datain[1],datain[2],datain[3]))
        except:
            a,b,c = sys.exc_info()
            print a,b,c
            print lines.split()[0]
            cursor.close()
            cnx.close()
        i +=1
#
cnx.commit()
cursor.close()
cnx.close()

# top_100_by_year_win

In [114]:
import MySQLdb,io,sys,codecs

#資料庫IP,ID,pass,schema名稱,預設編碼
cnx = MySQLdb.connect("localhost","root","123456","analysis.db",charset="utf8")
cursor = cnx.cursor()

i = 1
BOM = codecs.BOM_UTF8.decode('utf8')

with io.open("E:/mysql/Top120/Year/top120Win_Year2015.txt", 'r', encoding='utf-8') as f: #做字典的檔案
    for lines in f: #一行為單位
        lines = lines.lstrip(BOM) #處理編碼問題
        
        datain = lines.split(',')
        #print datain[0],datain[1],datain[2],datain[3],datain[4],datain[5],datain[6],datain[7],datain[8],datain[9],datain[10]
                                #資料表名稱
        add_record="INSERT INTO top_100_by_year_win \
                    (keyword,count) \
                    VALUES (%s, %s)"
        try:
            cursor.execute(add_record,(datain[0],datain[1]))
        except:
            a,b,c = sys.exc_info()
            print a,b,c
            print lines.split()[0]
            cursor.close()
            cnx.close()
        i +=1
#
cnx.commit()
cursor.close()
cnx.close()

# top_100_by_lose_win

In [116]:
import MySQLdb,io,sys,codecs

#資料庫IP,ID,pass,schema名稱,預設編碼
cnx = MySQLdb.connect("localhost","root","123456","analysis.db",charset="utf8")
cursor = cnx.cursor()

i = 1
BOM = codecs.BOM_UTF8.decode('utf8')

with io.open("E:/mysql/Top120/Year/top120Loss_Year2015.txt", 'r', encoding='utf-8') as f: #做字典的檔案
    for lines in f: #一行為單位
        lines = lines.lstrip(BOM) #處理編碼問題
        
        datain = lines.split(',')
        #print datain[0],datain[1],datain[2],datain[3],datain[4],datain[5],datain[6],datain[7],datain[8],datain[9],datain[10]
                                #資料表名稱
        add_record="INSERT INTO top_100_by_year_win \
                    (keyword,count) \
                    VALUES (%s, %s)"
        try:
            cursor.execute(add_record,(datain[0],datain[1]))
        except:
            a,b,c = sys.exc_info()
            print a,b,c
            print lines.split()[0]
            cursor.close()
            cnx.close()
        i +=1
#
cnx.commit()
cursor.close()
cnx.close()

# top_100_by_season_win

In [123]:
import MySQLdb,io,sys,codecs,glob

#資料庫IP,ID,pass,schema名稱,預設編碼
cnx = MySQLdb.connect("localhost","root","123456","analysis.db",charset="utf8")
cursor = cnx.cursor()

i = 1
BOM = codecs.BOM_UTF8.decode('utf8')


for o in glob.glob("E:\\mysql\\Top120\\Season\\win\\*.txt"):
    with io.open(o, 'r', encoding='utf-8') as f: #做字典的檔案
        for lines in f: #一行為單位
            lines = lines.lstrip(BOM) #處理編碼問題

            datain = lines.split(',')
            #print datain[0],datain[1],datain[2],datain[3],datain[4],datain[5],datain[6],datain[7],datain[8],datain[9],datain[10]
                                    #資料表名稱
            add_record="INSERT INTO top_100_by_season_win \
                        (keyword,count) \
                        VALUES (%s, %s)"
            try:
                cursor.execute(add_record,(datain[0],datain[1]))
            except:
                a,b,c = sys.exc_info()
                print a,b,c
                print lines.split()[0]
                cursor.close()
                cnx.close()
            i +=1
#
cnx.commit()
cursor.close()
cnx.close()

# top_100_by_season_lose

In [125]:
import MySQLdb,io,sys,codecs,glob

#資料庫IP,ID,pass,schema名稱,預設編碼
cnx = MySQLdb.connect("localhost","root","123456","analysis.db",charset="utf8")
cursor = cnx.cursor()

i = 1
BOM = codecs.BOM_UTF8.decode('utf8')


for o in glob.glob("E:\\mysql\\Top120\\Season\\lose\\*.txt"):
    with io.open(o, 'r', encoding='utf-8') as f: #做字典的檔案
        for lines in f: #一行為單位
            lines = lines.lstrip(BOM) #處理編碼問題

            datain = lines.split(',')
            #print datain[0],datain[1],datain[2],datain[3],datain[4],datain[5],datain[6],datain[7],datain[8],datain[9],datain[10]
                                    #資料表名稱
            add_record="INSERT INTO top_100_by_season_loss \
                        (keyword,count) \
                        VALUES (%s, %s)"
            try:
                cursor.execute(add_record,(datain[0],datain[1]))
            except:
                a,b,c = sys.exc_info()
                print a,b,c
                print lines.split()[0]
                cursor.close()
                cnx.close()
            i +=1
#
cnx.commit()
cursor.close()
cnx.close()

# top_100_by_Month_win

In [126]:
import MySQLdb,io,sys,codecs,glob

#資料庫IP,ID,pass,schema名稱,預設編碼
cnx = MySQLdb.connect("localhost","root","123456","analysis.db",charset="utf8")
cursor = cnx.cursor()

i = 1
BOM = codecs.BOM_UTF8.decode('utf8')


for o in glob.glob("E:\\mysql\\Top120\\Month\\win\\*.txt"):
    with io.open(o, 'r', encoding='utf-8') as f: #做字典的檔案
        for lines in f: #一行為單位
            lines = lines.lstrip(BOM) #處理編碼問題

            datain = lines.split(',')
            #print datain[0],datain[1],datain[2],datain[3],datain[4],datain[5],datain[6],datain[7],datain[8],datain[9],datain[10]
                                    #資料表名稱
            add_record="INSERT INTO top_100_by_month_win \
                        (keyword,count) \
                        VALUES (%s, %s)"
            try:
                cursor.execute(add_record,(datain[0],datain[1]))
            except:
                a,b,c = sys.exc_info()
                print a,b,c
                print lines.split()[0]
                cursor.close()
                cnx.close()
            i +=1
#
cnx.commit()
cursor.close()
cnx.close()

# top_100_by_Month_lose

In [127]:
import MySQLdb,io,sys,codecs,glob

#資料庫IP,ID,pass,schema名稱,預設編碼
cnx = MySQLdb.connect("localhost","root","123456","analysis.db",charset="utf8")
cursor = cnx.cursor()

i = 1
BOM = codecs.BOM_UTF8.decode('utf8')


for o in glob.glob("E:\\mysql\\Top120\\Month\\loss\\*.txt"):
    with io.open(o, 'r', encoding='utf-8') as f: #做字典的檔案
        for lines in f: #一行為單位
            lines = lines.lstrip(BOM) #處理編碼問題

            datain = lines.split(',')
            #print datain[0],datain[1],datain[2],datain[3],datain[4],datain[5],datain[6],datain[7],datain[8],datain[9],datain[10]
                                    #資料表名稱
            add_record="INSERT INTO top_100_by_month_loss \
                        (keyword,count) \
                        VALUES (%s, %s)"
            try:
                cursor.execute(add_record,(datain[0],datain[1]))
            except:
                a,b,c = sys.exc_info()
                print a,b,c
                print lines.split()[0]
                cursor.close()
                cnx.close()
            i +=1
#
cnx.commit()
cursor.close()
cnx.close()